body {
  margin: 0;
  padding: 0;
  font: 14px/1.4 "Lucida Grande", Helvetica, sans-serif;
  background-color: #f3efe5;
}

/* Fonts */

h1,h2,h3 { 
  margin-top:.8em; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: normal; 
  color: #222;
  -moz-text-shadow: #ccc 1px 1px 1px;
  -webkit-text-shadow: #ccc 1px 1px 1px;
  text-shadow: #ccc 1px 1px 1px;
}
h1 { font-size:218%; margin-top:.2em; margin-bottom:.3em; line-height:1.1em; color: #222;}
h2 { font-size:150%; margin-top:1em; margin-bottom:.2em; line-height:1.2em; }
h3 { font-size:125%; font-weight:bold; margin-bottom:.2em; }
h4 { font-size:100%; font-weight:bold; margin-bottom:0; margin-top:1.2em; text-transform:uppercase; letter-spacing:1px; }
h4 pre, h4 tt, h4 .literal { text-transform:none; }
h5 { font-size:1em; font-weight:bold; margin-top:1.5em; margin-bottom:3px; color: #450D0D; }


a:link, a:visited, a:active {
  color: #A81616;
  text-decoration : none;
}
a:hover {
  background-color: #FFFCC0;
  color: #F1542F;
}
p {
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 0.5em 0 0.5em 0;
  padding: 0px;
}

code {
  color: #670101;
  background-color: #efefcf;
}

blockquote {
  background: #F3F0A0;
  border-left: 2px solid #620C0C;
  padding: 1em;
}

hr {
    height: 1px;
    border: none;
    background-color: #C0BDB6;
    width: 100%;
}
ul {
  list-style-type: circle;
  padding-left: 15px;
}
figure {
  margin: 0;
  display: inline;
}
/* Layout */

body > header {
  display: block;
  height: 135px;
  width: 100%;
  background: url(/assets/images/menu.png) left bottom repeat-x;
  background-color: #620C0C;
}

body > header > a:hover {
  background-color: transparent;
}
body header h1 { 
  font-family: 'Comfortaa', cursive; 
  color: #F4D147;
  font-size: 40px;
  text-shadow: none;
  padding: 10px 0 0 0;
  margin: 0 0 0 40px;
}
body header h2 { 
  font-family: 'Jura', sans-serif; 
  font-size: 25px;
  color: #ccc;
  text-shadow: none;
  margin: 0 0 0 40px;
  padding: 0;
}
#content {
  margin: 1em 1em 1em 5em;
  overflow: hidden;
}

body > footer {
  display: block;
  font-size: 0.8em;
  border-top: 2px solid #E7E3D4;
  line-height: 20px;
  padding: 5px;
  text-align: center;
  color: #b7b7b7;
  clear: both;
}

nav {
  display: block;
  position: absolute;
  top: 76px;
  right: 50px;
}
nav ul {
  text-align: left;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
nav ul li {
  display: inline;
}
nav ul li a {
  padding: 0 10px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #CEC1A3;
  background-color: #F3EFE5;
  color: #620C0C !important;
  margin-right: 5px;
  display: block;
  float: left;
  text-decoration: none;
  border-bottom: none;
}
nav ul li a:hover,nav ul li.active a:hover {
  background: #CFC3A7;
  color: #A81616 !important;
}
nav ul li.active a {
  color: #A81616 !important;
}
/* article */
article {
  float: left;
  width: 70%;
}
article.page {
  float: none;
}
article.index { width:auto;}
article .body {
  margin-top: 15px;
  font-family: "Droid Sans", Sans, Arial, sans-serif;
}
article .body img {
    margin: 15px;
    border: 1px solid #ccc;
}
article .body img.left {
  margin: 0 15px 15px 0;
  float: left;
}
article .body img.right {
  margin: 0 0 15px 15px;
  float: right;
}
aside {
  float: right;
  width: 20%;
}
aside time {
  font-size: 0.9em;
}
.tag_box li {
  margin: 5px;
  display: inline;
  line-height: 20px;
  float: left;
}
aside .tag_box li:first-child {
  margin-left: 0;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #F2DDBB;
  color: #666;
  border-radius: 3px;
  text-decoration: none;
}
.tag_box a:hover {
  background: #FFFCC0;
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}
.pagination ul {
  list-style-type:none;
  text-align: center;
}
.pagination ul li {
  display: inline;
  padding: 0 30px;
}
#cboxLoadedContent p {
  text-align: center;
  line-height: 1.5em;
  margin: 0 0 0.5em 0;
}
#cboxLoadedContent img {
  -webkit-box-shadow: #ccc 5px 3px 3px;
  -moz-box-shadow: #ccc 5px 3px 3px;
  box-shadow: #ccc 5px 3px 3px;
}
.clear {
  clear: both;
  height:0;
  line-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
table tr td {
  padding: 10px;
  line-height: 25px;
  border: 1px solid #ccc;
}

/* comments */
#dsq-content .dsq-comment-header {
    background: #E4DDC7 none !important;
}

/* mainpage */

.column {
  float: left;
  width: 30%;
  margin: 1em 1em 0 0;
  min-height: 200px !important;
  _height: 200px;
  min-width: 300px;
}
section.twitter p, section.googleplus p {
  padding-bottom: 3px;
  background: url('/assets/images/dots.gif') bottom left repeat-x;
}
.column time {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  display: block;
  color: #999;
}
#about {
  width: 70%;
}
#me {
  float: left;
  margin: 0 1em 1em 0;
  border: 1px solid #E0DCD1;;
}

section.column img {
  border: 1px solid #E0DCD1;
  -moz-box-shadow: 2px 1px 10px #999;
  -webkit-box-shadow: 2px 1px 10px #999;
  box-shadow: 2px 1px 10px #999;
  margin: 5px;
}
section.flickr a:hover {
  text-decoration: none;
  background-color: none !important;
}
section.flickr a:hover img {
  -moz-box-shadow: 2px 1px 10px #111;
  -webkit-box-shadow: 2px 1px 10px #111;
  box-shadow: 2px 1px 10px #111;
}
section.googleplus img {
  float: left;
  margin: 0 5px 5px 0;
}
dd {
  color:#A81616;
  font-style: italic;
}
